#CP_hourcont {
padding: 0px;
position:absolute;
border:1px dashed #999999;
background-color:#f2f2f2;
}

#CP_minutecont {
padding: 1px;
position:absolute;
background-color:#dddddd;
width:45px;
}

.floatleft {
float:left;
}

.CP_hour {
padding:3px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
white-space:nowrap;
cursor:pointer;
width:35px;
}

.CP_minute {
padding:2px;
background-color:#dddddd;
font-family: Arial, Helvetica, sans-serif;
font-size:9px;
white-space:nowrap;
cursor:pointer;
width:auto;
}

.CP_over {
background-color:#FFFFFF;
}