.odometer {
  background: black;
  font-family: Times New Roman;
  border: 1px solid;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;

  margin: 19px 0; padding: 0;

  font-size: 8em;
  height:    148px;
  text-shadow: -1px -1px 0 rgba( 0, 0, 0, 0.8 );

  position: relative;
  overflow: hidden;

  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from( #000 ),
    to(   #000 ),
    color-stop( 0.25, #333 ),
    color-stop( 0.35, #aaa ),
    color-stop( 0.55, #333 )
  );
}

.odometer ul {
  list-style-type: none;
}

.odometer ul.odometer_column {
  display:  block;
  position: absolute;
  border-color: #272727;

  width:     1em;
  height:   14em;

  top: 0;
  margin: 0; padding: 0;
}

.odometer ul.odometer_column {
  border-right-width: 1px;
  border-right-style: solid;
}

.odometer ul.active li {
  color: #eee;
  -webkit-text-fill-color: rgba( 256, 256, 256, 0.8 );
}

.odometer ul.odometer_column li span {
  display: block;
  float:   right;
  width:   1em;
}

.odometer ul ul.odometer_column:last-child {
  border-left-width: 1px;
  border-left-style: solid;
}

.odometer .prefix {
  position: absolute;
  top:      -0.1em;
  left:        0px;
  font-size: 1.2em;
  color:     #084a01;
  width:     0.6em;
}
