body {
  margin-top: 5em;
  background: #6E0911;
  color:      #757890;
  text-align: center;

  font-size: 18px;
}

h1, h2, h3 {
  margin: 0; padding: 0;
  letter-spacing: -0.05em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: white;
  text-align: center;
  color:#757890;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.0em; }

p {
  font-size: 1.0em;
  padding:   0.2em;
  margin:    0;
}

.notes {
   text-align: left;
   color: #F5DEB3;
   font-size: 95%;
   font-weight: normal;
   width: 40%;
   margin: 0 auto 2em;
}
.small { font-size: 70%; }

#display {
  background: #470F14;
  padding: 2em;
  margin:  2em;
  -moz-border-radius:    30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.5 );
  -moz-box-shadow:    5px 5px 5px rgba( 0, 0, 0, 0.5 );
}

#form a { color: #F5DEB3; }

form.setup {
  background: #F5DEB3;
  padding:    1em;
  margin:     2em auto;
  min-width: 14em;
  max-width: 28em;
  font-size:  2em;
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
}

form dt {
  clear: both;
  float: left;
  text-align: right;
  width:  11em;
  margin: 0;
  margin-left: 1.5em;
  padding-top: 0.1em;
}

form dt p.small { font-size: 40%; }
form dt, form dd { height: 1.5em; }

form dd {
  text-align:   right;
  margin-left:   13em;
  margin-bottom:  1em;
  width:          37%;
}

dd input {
  margin: 0;
  width:     7em;
  font-size: 1em;
}

.error { color: red; }
label.error {
  display:     block;
  font-size:   0.5em;
}

form.stop input {
   font-size: 2em;
}
