body {
  margin-top: 5em;
  background: #6E0911;
  color:      #757890;
  text-align: center;
  
  font-size: 18px;
}

h1, h2, h3 {
  margin: 0; padding: 0;
  letter-spacing: -0.05em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: white;
  text-align: center;
  color:#757890;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.0em; }

p { 
  font-size: 1.0em;
  padding: 0.2em;
  margin:  0;
}

.small { font-size: 0.6em; }

#display { 
  background: #470F14;
  padding: 2em;
  margin:  2em;
  -moz-border-radius:    30px;
  -webkit-border-radius: 30px;
}

#display p {
  font-size: 1.2em;
}

form.setup {
  background: wheat;
  padding:    1em;
  margin:     2em auto;
  min-width: 14em;
  max-width: 28em;
  font-size:  2em;
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
}

form dt { 
  clear: both;
  float: left;
  text-align: right;
  width:  11em;
  margin: 0;
  margin-left: 1.5em;
  padding-top: 0.1em;
}

form dt, form dd { height: 1.5em; }

form dd {
  text-align:   right;
  margin-left:   13em;
  margin-bottom:  1em;
  width:          40%;
}

dd input { 
  margin: 0;
  width:     7em;
  font-size: 1em;	 
}

.error { color: red; }
label.error {
  display:     block;
  font-size:   0.5em;
}

.small { font-size: 0.4em; }

#display div.cost_display {
  background:   #000;
  font-family:  Times New Roman;
  font-size:    8em;
  margin:       19px 0px;
  padding:      0;
  border-width: 1px; 
  border-style: solid;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  height:       148px;
  position:     relative;
  overflow:     hidden;
}

form.stop input {
	font-size: 2em;
}
