body {
  margin-top: 5em;
  background: #6E0911;
  color:      #757890;
  text-align: center;
  
  font-size: 18px;
}

#test_box {
  width:  8em;
  height: 8em;
  background-color: white;
}

h1, h2, h3 {
  margin: 0; padding: 0;
  letter-spacing: -0.05em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  color: white;
  text-align: center;
  color:#757890;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.0em; }

p { 
  font-size: 1.0em;
  padding: 0.2em;
  margin:  0;
}

.small { font-size: 0.6em; }

#display { 
  background: #470F14;
  padding: 2em;
  margin:  2em;
  -moz-border-radius:    30px;
  -webkit-border-radius: 30px;
}

#display p {
  font-size: 1.2em;
}

form.setup {
  background: wheat;
  padding:    1em;
  margin:     2em auto;
  min-width: 14em;
  max-width: 28em;
  font-size:  2em;
  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
}

form dt { 
  clear: both;
  float: left;
  text-align: right;
  width: 10em;
  margin: 0;
  margin-left: 1.5em;
  padding-top: 0.1em;
  margin-bottom: 1em;
}

form dd {
  float: left;
}

dd input { 
  width:     7em;
  font-size: 1em;	 
}

form p {
  clear: both;
}

.error { color: red; display: none; }

#display div.cost_display {
  background:   #000;
  font-family:  Times New Roman;
  font-size:    8em;
  margin:       19px 0px;
  padding:      0;
  border-width: 1px; 
  border-style: solid;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  height:       148px;
  position:     relative;
  overflow:     hidden;
}
div.cost_display ul li {
  list-style-type: none;
}
div.cost_display ul.list {
  display:    block;
  position:   absolute;
  width:      90px;
  height:   1000px;
  top:         0px;
  margin: 0; padding: 0;
}

div.cost_display ul.list li {
  border-right-width: 1px;
  border-right-style: solid;	
}

div.cost_display ul.list:last-child li {
  border-left-width: 1px;
  border-left-style: solid;	
}

#display p.cost_display span {
  background: #000;
  display:    block;
  float:      right;
  width:      100px;
}

#display p.cost_display span:first-child {
  -moz-border-radius-topRight:    10px;
  -moz-border-radius-bottomRight: 10px;
}

#display p.cost_display span:last-child {
  -moz-border-radius-topRight:    10px;
  -moz-border-radius-bottomRight: 10px;
}

#display div.cost_display,
div.cost_display ul.list,
#display p.cost_display span,
div.cost_display ul.active li  {
  border-color: #272727;
}
div.cost_display ul.list {
  color: #272727;	
}
div.cost_display ul.active {
  color: #FFF;
}

div.cost_display .dollar_sign {
  position: absolute;
  top:       -18px;
  left:       17px;
  font-size: 1.2em;
  color:     #084a01;
}

form.stop input {
	font-size: 2em;
}
